body {
    font-size: 16px;
    color:#fff;
    background-color: #3e414b;
    font-family: oxygen;
}
*{
    box-sizing: border-box;
}
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    
    
}

.dropdown-menu {
    background-color: #f6b319;
}

.navbar {
    background-color: #57595e;

    position: relative;
}

.navbar-light {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    background-color: #d7e60e;
    color: #61122f;
    border-radius: 15px;
}
.btn:hover {
    background-color: black;
    color: #d7e60e;
    border-radius: 15px;

}

.form-control {
    background-color: #d7e60e;
    border-radius: 15px;
    
}
.form-control:hover {
    background-color:black;
    color:  #d7e60e;
    border-radius: 15px;
    
}

.navbar {
    color: #61122f;
    font-family: "Audiowide", sans-serif;
}
.custom-input::placeholder {
    color: black; /* Change the color to green */
  }

.navbar-light .navbar-brand {
    color: #fdf256;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:#fdf256;
}
.navbar-light .navbar-nav .nav-link {
    color:#fdf256;
}
.container {
    padding-top: 20px;

}

#menu-title, #specials-title, #map-title {
    height: 200px;
    width:100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3f0c1f;
    overflow:hidden;
    border-radius: 17px;
    font-family: "Audiowide", sans-serif;

    
}

#menu-title:hover, #specials-title:hover, #map-title:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
    transform:scale(1.05);

}
.img {
    margin-bottom: 20px;
    border: 2px solid #3f0c1f;
    border-radius: 17px;
    width: 100%;
    height: 500px;
    background: url('https://i.ytimg.com/vi/KDnP9zfmi54/sddefault.jpg') no-repeat;
    background-size: cover;

    position: relative;
    opacity:.9;
}
.img p{
    margin-left: 1em;
    margin-top :2em;
    text-align: left;
    color:#000;
    font-family: "Audiowide", sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 5px red;
}

#menu-title {
    background: url('https://www.looper.com/img/gallery/batmans-mask-in-the-flash-does-something-amazing-but-deadpool-did-it-first/l-intro-1689729099.jpg') no-repeat;
    background-position: center;
    background-size: 100% 200px;
}

#specials-title {
    background: url('https://media3.s-nbcnews.com/i/streams/2012/August/120801/299676-screen-shot-2012-08-01-8-12-16-am.png') no-repeat;
    background-position: center;
}

#menu-title span, #specials-title span, #map-title span {
    position: absolute;
    right:0;
    bottom:0;
    width:100%;
    text-align: center;
    font-size: 2em;
    text-transform:uppercase ;
    background-color: #000;
    color:#fff;
    opacity: .8;


}